div{
	background-color: #0C901B;
	background-image: url(../pictures/the imoji.jpg);
}
ul{
	font-size: 20px;
}
li{
	display: inline;
}
a:hover{background-color: #C70039}
img{
	float: right;
	border: 1px dotted black;
	margin: 0px 0px 15px 20px;
}
#eddie{
	margin-right: 20%;
	margin-left: 20%;
	background-color: #38D562;
}